/* $Id$ */

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-weight:normal;
  font-family:Arial,sans-serif;
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  color:#252525;
}

/* Default link styles - separate a:visited for a different visited link style */

a {
  color: #ba4308;
}

a,
a:link,
a:visited {
  text-decoration:none;
}
.main a:visited, .splash-group a:visited {
  color:#8a5e29;
}


/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration:underline;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 78%;
  padding:5px 0;
  font-variant:small-caps;
  position:relative;
  left:5px;
  font-family: "Times New Roman", Times, serif;
}
#slogan {
  font-size:150%;
  line-height:81%;
  padding:5px 0;
  font-variant:small-caps;
  font-family: "Times New Roman", Times, serif;
  position:relative;
  left:10px;
  color:white;
}

.footer-message {
  font-size: 90%;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
  float:left;
}

/* Link and hover styles for site name */
#site-name a:link, #slogan a:link,
#site-name a:visited, #slogan a:visited,
#site-name a:hover, #slogan a:hover,
#site-name a:active, #slogan a:active {
  color:#ffffff;
  text-decoration:none;
}

/* Typography for site slogan */
#slogan {
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}

.main .block {
  margin:12px 0;
}
#breadcrumbs, #content-inner {
  margin-top:0px;
}
.main #block-user-0.fusion-horiz-login .inner {
  padding:0;
}
.main #block-user-0.fusion-horiz-login .inner div.form-item {
  padding-bottom:6px;
}

/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
  min-height:91px;
  background:#1977aa;
}
#header-group { position:relative; }

#header-site-info {
  width:500px;
  padding-top:10px;
}

.header-group {
}

#header-top {
  float:right;
}
#header-last {
  float:right;
  position:absolute;
  bottom:4px;
  right:0;
}
#header-top div.block, #header-last div.block {
  width:auto;
  float:right;
  margin:2px;
}

/* Navbar
/-------------------------------------------------------------- */
.navbar-wrapper {
  background: url("../images/nav-color.png") white repeat-x top left;
  height:37px;
  clear:both;
}

.navbar {
  overflow:visible;
}

/* Primary Menu   TODO: add default colours
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu {
  line-height:37;
  vertical-align:middle;
  font-size:100%;
  padding:9px;
  margin-bottom:0;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu {
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited  {
  padding:0 12px;
  font-size:16px;
  line-height:17px;
  color: #020f20;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a:focus {
}

/* These are the top level menu items, add border-right here for separators */
.primary-menu-inner ul.sf-menu li {
  border-right: 1px solid #f0f0f0;
}

/* Add border-right: 0; here to remove separator on last menu item */
.primary-menu-inner ul.sf-menu li.last {
  border-right:0;
}

/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul {
  background-color:#ffffff;
  border: 1px solid #cecece;
  width: 200px;
  padding-bottom: 2px;
  margin-right:-20px;
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.primary-menu-inner ul.sf-menu li li {
  background-color: #ffffff;
  padding: 2px 1px 3px;
  border-bottom: 1px solid #f0f0f0;
  border-right:none;
  margin: 1px 6px 1px 2px;
  width: 192px;
}

.primary-menu-inner ul.sf-menu li li a:link,
.primary-menu-inner ul.sf-menu li li a:visited {
  padding:3px 8px;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
  left: 15em;
}

.primary-menu-inner ul.sf-menu li li.last {
  border-bottom:none;
}

.primary-menu-inner ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.primary-menu-inner ul.sf-menu li ul li:hover a,
.primary-menu-inner ul.sf-menu li ul li.sfHover a {
  background: url("../images/bg-color.png") white repeat top left;
  color: #ffffff;
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
  text-align:left;
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
  border-right: 1px solid #454545;
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
  border-right: 0;
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  padding: 3px;
  color: #f0f0f0;
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
  color:#f0f0f0;
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}

#edit-search-block-form-1-wrapper label {
  display:none;
}

/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
  background: #ffffff;
}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
}


/* Content Regions
-------------------------------------------------------------- */
.main-wrapper {
  margin-top:20px;
  position:relative;
}

.content-top {
}

.content-region {
}

.content {
}

.content-inner {
}

.content-bottom {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Splash Regions
-------------------------------------------------------------- */
#splash-group-wrapper {
  clear:both;
}

.splash-group-wrapper {
  background:#ddebf2;
  border-top:2px solid #cecece;
  padding: 12px 0 8px;
}

.splash-first, .splash-last {
  width: 33%;
  float:left;
  margin:0;
}
.splash-middle {
  width: 33.9%;
  float:left;
  margin:0;
}
.splash-group-inner .block .inner {
  margin:0;
}


/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.footer-wrapper {
}

.footer {
}

.footer-inner {
}

.footer-message-wrapper {
  padding-top:14px;
  background:#252525;
}

.footer-message {
}

.footer-message-inner {
}

.footer-message-text {
  color:#696969;
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
  margin-top:-10px;
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

div.node img.imagecache {
  float:right;
  padding:4px;
  border:1px solid #cecece;
  margin: 0 0 9px 19px;
}
div.teaser img.imagecache {
  float:left;
  padding:2px;
  border: 1px solid #cecece;
  margin: 0 8px 8px 0;
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 16px;
  padding: 2px 0 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #cecece;
  margin-bottom: 8px;
}

.sidebar-first .block .inner, .sidebar-last .block .inner {
  background: url(../images/block-color.png) white repeat-x top left;
  margin: 1px;
}

.sidebar-first .block .inner .inner, .sidebar-last .block .inner .inner {
  background:transparent;
}

.sidebar-first .block, .sidebar-last .block {
  background: white;
  border: 1px solid #cecece;
  margin: 12px -2px;
}
.sidebar-first .block {
  margin:12px 0;
}

.main .block .inner, .splash-group .block .inner {
  padding: 9px 19px;
}
.main .block .inner .inner, .splash-group .block .inner .inner {
  padding: 0;
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
  margin:1em 0;
}
.breadcrumbs .breadcrumbs-inner.inner {
  padding: 0 40px;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}
#breadcrumbs {
  width:auto;
  margin: 7px 0 0;
}
body.main-wrapper-fix #main-wrapper {
  margin-top:0;
}


/* Tab Menus   TODO: tab styles?
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: right; /* LTR */
  padding: 0;
  font-size:11px;
  width:auto;
  margin:0;
}

#content-tabs .inner {
  padding: 0px 14px 8px;
  background-color:#1977aa;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-top:none;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  margin-top: 2px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border:none;
  border-right:1px solid #cecece;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0;
  padding: 0 6px;
  background:#efefef;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left; /* LTR */
  font-weight: normal;
  margin: 0;
  padding: 5px 8px;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555555;
  padding: 2px 4px;
}

#content-tabs ul.primary li.active,
#content-tabs ul.secondary li.active {
  background:#ffffff;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  color: #555555;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  color: #777777;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  color: #777777;
  background: #fff;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333333;
}

ul.pager li.pager-current {
  background-color: #777777;
  color: #ffffff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777777;
  border-color: #333333;
  color: #ffffff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}

body.node-edit div#sidebar-first,
body.node-edit div#sidebar-last {
  display:none;
}
body.node-edit div#content-group {
  width:960px;
}
body.node-edit div#main-group {
  width:960px;
}

/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #cecece;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #cecece;
}

tbody th {
  border-bottom: 1px solid #cecece;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eeeeee;
  border-bottom: 1px solid #cecece;
}

tr.odd,
tr.odd td {
  background-color: #ffffff;
  border-bottom: 1px solid #cecece;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #cccccc;
}

.book-navigation .page-links {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #ffffff;
}

.comments div.even {
  background-color: #eeeeee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #f0f0f0;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}


/* Location
/-------------------------------------------------------------- */
h3.location-locations-header {
  display:none;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #f0f0f0;
}

div.poll div.bar div.foreground {
  background-color: #999999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: left;
  padding-right: 20px;
  background: white;
}

.profile .profile-profile_firstname,
.profile .profile-profile_lastname,
.profile dt.profile-profile_bio {
  display:none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #cecece;
}


/* Ubercart - catalog
/-------------------------------------------------------------- */

/* Horizontal list of subcategories in catalog */
ul.uc-categories {
}

.uc-categories li a {
  font-weight: bold;
  padding: 0 5px 0 3px;
}

/* Product and category names */
.catalog-grid-title a:link,
.catalog-grid-title a:visited,
.category a:link,
.category a:visited {
}

.catalog-grid-title a:hover,
.catalog-grid-title a:focus,
.category a:hover,
.category a:focus {
}

/* Sell price in Ubercart catalog */
.category-grid-products .catalog-grid-sell-price {
}

/* Ubercart - add to cart buttons
/-------------------------------------------------------------- */

/* Add to cart buttons */
input.node-add-to-cart,
input.list-add-to-cart {
}

/* Hover and focus styles, with .hover class added for IE6 support */
input.node-add-to-cart:hover,
input.node-add-to-cart.hover,
input.node-add-to-cart:focus,
input.list-add-to-cart:hover,
input.list-add-to-cart.hover,
input.list-add-to-cart:focus {
}

/* Ubercart - product nodes
/-------------------------------------------------------------- */

#field-group {
}

#price-group {
}

/* Product images */
.product-image a img {
}

.product-image a:hover img,
.product-image a:focus img {
}

/* Display price on full product nodes */
.full-node .product-group .uc-price-display {
}

/* Product attributes on full nodes */
.full-node .product-group .attributes {
}

/* Ubercart - general / checkout
/-------------------------------------------------------------- */

/* For optional "Powered by Ubercart" footer message */
#store-footer {
}

#store-footer a:link,
#store-footer a:visited {
}

/* View cart/Checkout links in Ubercart cart block */
.cart-block-summary-links ul.links li a {
}

.cart-block-summary-links ul.links li.cart-block-checkout a:link,
.cart-block-summary-links ul.links li.cart-block-checkout a:visited {
}

/* Key checkout process buttons: Checkout, Continue, and Submit Order */
#uc-cart-view-form #edit-checkout,
#uc-cart-checkout-form #edit-continue,
#uc-cart-checkout-review-form #edit-submit {
}

/* Table on final order review page */
.order-review-table {
}

#cart-form-products table th {
  border-bottom: 3px solid #dec2c3;
}


/* Views
/-------------------------------------------------------------- */
div.view div.more-link { clear:both; }

/* Skinr
/-------------------------------------------------------------- */

/* This is a sample Skinr style to get you started. See fusion_starter.info */
.fusion-example-stylename .inner {
  /* When setting the background color, also set foreground colors for text and
    links, even if it's similar to the default body style. Remember, this block
    style may be used in regions with other foreground colors, thus making text
    invisible if left unspecified */
  background-color: #cecece;
  color: #000000;
  /* All padding and borders should go on the .inner div, so as not to break
    the widths of the grid */
  border: 3px solid #000000;
  padding: 10px;
}

.block.enlist-block-no-background {
  border:none;
  background:transparent;
}
.block.enlist-block-no-background .inner {
  background:transparent;
}

.block.enlist-block-colored .inner {
  background:#1977aa;
  background-image:none;
  color:#fefefe;
}
.block.enlist-block-colored .inner a:link, .block.enlist-block-colored .inner a:visited {
  color:#fefefe;
  font-weight:bold;
}

.block.enlist-block-big-list .inner h2.block-title {
  display:none;
}
.block.enlist-block-big-list .inner ul {
  margin-left:0;
}
.block.enlist-block-big-list .inner ul li {
  list-style-type:none;
  padding:12px 0;
  background: url("../images/colored-block-background.png") no-repeat 50% 100%;
  font-size:large;
  font-family: Georgia, serif;
  font-weight:bold;
}
.block.enlist-block-big-list.grid16-4 .inner ul li {font-size:16px;}
.block.enlist-block-big-list.grid16-3 .inner ul li {font-size:14px;}
.block.enlist-block-big-list.grid16-2 .inner ul li {font-size:12px;}
.block.enlist-block-big-list.grid16-1 .inner ul li {font-size:10px;}

.block.enlist-block-big-list .inner ul li.first {
  margin-top:-8px;
}
.block.enlist-block-big-list .inner ul li.last {
  background:none;
  margin-bottom:-8px;
}
.block.enlist-block-big-list .inner a:hover,
.block.enlist-block-big-list .inner a:active {
  text-decoration:none;
}

.block.enlist-block-white-links .inner a {
  color:white;
  font-weight:bold;
}
.block.enlist-block-white-links .inner li {
  border-right-color:white;
}
