/* $Id$ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */



/* Incubator Site - General
/-------------------------------------------------------------- */
#block-inc_glue-0.enlist-block-big-list span.core-activity-term {
  display:block
}
#block-inc_glue-0 span.core-activity-nodecount:before{
  content:" - ";
}
#block-inc_glue-0.enlist-block-big-list span.core-activity-nodecount {
  color:#CECECE;
  display:block;
  font-weight:bold;
  text-align:right;
  width:70%;
  font-size:x-small;
  line-height:1em;
  font-family: Arial, sans-serif;
  position:relative;
  top:-2px;
}


div#header-top div#block-menu-accountmenu { line-height:31px; }


div.view-id-taxonomy_term.view-display-id-attachment_1 div.terms {
  display:none;
}


/* Blog
/-------------------------------------------------------------- */
div.view-id-Blogs div.views-field-field-main-image-fid {
  float:right;
}
div.view-id-Blogs p,
div.view-id-Community_Blogs p {
  margin:4px 0;
}
div.view-id-Community_Blogs h2 {
  margin: 16px 0 0;
}
div.view-id-Community_Blogs div.views-field-field-main-image-fid {
  float:left;
  margin: 4px 12px 8px 0;
}
div.view-id-Blogs div.views-row {
  margin-bottom:18px;
}
div.block div.node-type-community_blog.full-node img.imagecache {
  float:left;
  margin:0 8px 0 0;
  max-width:90%;
}
div.block div.node-type-community-blog.full-node div.field-field-main-image {
  text-align:center;
}


/* Events
/-------------------------------------------------------------- */
div.field.field-field-event-info {
  margin:9px 0;
  font-weight:bold;
}
div.view-id-inc_calendar div.views-field-field-event-info-value,
div.view-id-inc_calendar div.views-field-tid {
  font-size:smaller;
  margin-left:12px;
  line-height: 1.3em;
}
div.view-id-inc_calendar div.views-field-title {
  font-weight:bold;
}
div.view-id-inc_calendar div.views-row {
  margin:9px 0;
}
div.view-id-inc_calendar h3 {
  margin-top:16px;
  border-bottom:1px dashed #cecece;
}

/* News
/-------------------------------------------------------------- */

#block-views-News_Local-block_1 .inner .views-field-field-main-image-fid {
  float:left;
  margin: 3px 5px 2px 0;
}
#block-views-News_Local-block_1 .inner .views-row {
  clear:both;
  margin-top:9px;
}
#block-views-News_Local-block_1 .inner .views-row.views-row-first {
  margin-top:0;
}
/* Videos
/-------------------------------------------------------------- */

.view-id-Videos.view-display-id-block_1 table.views-view-grid tr {
  text-align:center;
  border-bottom:1px dashed lightgrey;
}
.view-id-Videos.view-display-id-block_1 table.views-view-grid tr.row-last {
  border-bottom:none;
}

/* Minor Fixes
/-------------------------------------------------------------- */
div.view-id-inc_calendar.view-display-id-attachment_1 div#smc {
  top: -57px !important;
  left: -9px !important;
}

div.view div.views-hide-hover,
div.view:hover div.views-hide {
  right:0;
}

body.hide-sidebars div#main-group,
body.hide-sidebars div#content-group {
  width:100%;
}
body.hide-sidebars div#sidebar-first,
body.hide-sidebars div#sidebar-last,
body.hide-sidebars div#sidebar {
  display:none;
}

div.block-createcontentblock div.content ul li a:hover { background:#1977aa; }

.taxonomy-super-select-radios .form-item label.option { clear:left; }
