/* $Id$ */

/* Positioning */
#preview {
  overflow: hidden;
  max-width: 100%;
}
#preview, #preview #img {
  width: 400px;
  height: 300px;
}
#preview #gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
  height: 84px;
  z-index: 2;
}
#preview #text {
  position: absolute;
  left: 21px;
  top: 75px;
  width: 210px;
  z-index: 4;
}
#preview #img {
  position: relative;
  z-index: 3;
}
#preview #gradient .gradient-line {
  height: 12px;
  overflow: hidden;
}

/* Basic styles to match */
#preview {
  font: 11px/160% Verdana;
  font: 11px/160% Times;
}
#preview h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-family: Times, serif;
  font-size: 116%;
  line-height: 100%;
}
#preview p {
  margin: .5em 0;
  font-size: 8px;
  line-height: 10px;
}
#preview a:link, #preview a:visited {
  text-decoration: none;
  font-weight: normal;
}
#preview a:hover {
  text-decoration: underline;
}
