/* $Id$ */

/*
Baha'i Calendar
*/

/* General */
div.calendar-calendar div.month-view td {
  height:126px;
  line-height: 1.26em;
}
div.calendar-calendar div.year-view div.month-view td {
  height:auto;
}
div.calendar-calendar td .inner div,
div.calendar-calendar td .inner div a,
div.calendar-calendar td .inner div.calendar div,
div.calendar-calendar td .inner div.calendar div a {
  background: transparent;
  padding:0;
}
div.calendar-calendar div.month-view td div.calendar {
  background: url(bg.png) top left repeat;
  margin:2px 2px 0 0;
}
div.calendar-calendar div.month-view td div.calendar div {
  margin-left:4px;
}

div.calendar-calendar div.month-view td div.month.day {
}
div.view-id-inc_calendar.view-display-id-block_3 ul.pager {
  margin-bottom:5px;
}
div.view-id-inc_calendar.view-display-id-block_3 div.more-link {
  text-align:left;
  float:left;
}
a.ical-icon:before {
  content:"ical: ";
}


/* 
FULL CALENDAR
*/

/* text setup */
div.calendar-calendar td:before {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  float: left;
  font-size: 9px;
  font-style: italic;
  padding: 1px 5px;
  text-align: center;
  width:69%;
  background: url(bg-top.png) top left repeat;
}
div.calendar-calendar td:after{
  padding: 2px 4px;
  font-style:italic;
  color:#cccccc;
  font-size:9px;
  vertical-align:top;
}
div.calendar-calendar td div.month.day { clear:right; }

/* Holy days */
td.Mar-21, td.Apr-21, td.Apr-29, td.May-2, td.May-23, td.May-29, td.Jul-9, td.Oct-20, td.Nov-12 {
  background: url(lg-holyday.png) center center no-repeat;
}
td.Nov-26, td.Nov-28 {
  background:url(lg-holyday-working.png) center center no-repeat;
}
td.Mar-21:before { content: "Naw-Rúz (New Year)\ABahá (Splendor)"; }
td.Apr-21:before { content: "First Day of Ridván"; }
td.Apr-29:before { content: "Ninth Day of Ridván"; }
td.May-2:before { content: "Twelfth Day of Ridván"; }
td.May-23:before { content: "Declaration of The Báb"; }
td.May-29:before { content: "Ascension of Bahá'u'lláh"; }
td.Jul-9:before { content: "Martyrdom of The Báb"; }
td.Oct-20:before { content: "Birth of The Báb"; }
td.Nov-12:before { content: "Birth of Bahá'u'lláh"; }
td.Nov-26:before { content: "Day of the Covenant"; }
td.Nov-28:before { content: "Ascension of 'Abdu'l‑Bahá"; }

/* Feasts */
td.Apr-9:before {content: "Jalál (Glory)";}
td.Apr-28:before {content: "Jamál (Beauty)";}
td.May-17:before {content: "'Azamat (Grandeur)";}
td.Jun-5:before {content: "Núr (Light)";}
td.Jun-24:before {content: "Rahmat (Mercy)";}
td.Jul-13:before {content: "Kalimát (Words)";}
td.Aug-1:before {content: "Kamál (Perfection)";}
td.Aug-20:before {content: "Asmá' (Names)";}
td.Sep-8:before {content: "'Izzát (Might)";}
td.Sep-27:before {content: "Mashíyyat (Will)";}
td.Oct-16:before {content: "'Ilm (Knowledge)";}
td.Nov-4:before {content: "Qudrat (Power)";}
td.Nov-23:before {content: "Qawl (Speech)";}
td.Dec-12:before {content: "Masá'il (Questions)";}
td.Dec-31:before {content: "Sharaf (Honor)";}
td.Jan-19:before {content: "Sultán (Sovereignty)";}
td.Feb-7:before {content: "Mulk (Dominion)";}
td.Mar-2:before {content: "'Alá' (Loftiness)";}

td.Mar-1, td.Apr-8, td.Apr-27, td.May-16, td.Jun-4, td.Jun-23,
td.Jul-12, td.Jul-31, td.Aug-19, td.Sep-7, td.Sep-26, td.Oct-15,
td.Nov-3, td.Nov-22, td.Dec-11, td.Dec-30, td.Jan-18, td.Feb-6, td.Mar-20 {
  background:url(lg-feast.png) bottom right no-repeat;
}

/* Ayyam-i-Há */
td.Feb-26:before, td.Feb-27:before, td.Feb-28:before, td.Feb-29:before, td.Mar-1:before { content: "Ayyam-i-Há"}

/* Holidays */
td.sun.Jan-15:before, td.sun.Jan-16:before, td.sun.Jan-17:before, td.sun.Jan-18:before,
td.sun.Jan-20:before, td.sun.Jan-21:before { content: "World Religion Day"; }
td.sun.Jan-19:before { content: "Sultán (Sovereignty)\AWorld Religion Day"}

td.sun.Jun-8:before, td.sun.Jun-9:before, td.sun.Jun-10:before, td.sun.Jun-11:before,
td.sun.Jun-12:before, td.sun.Jun-13:before, td.sun.Jun-14:before { content: "Race Unity Day"; }


/* Exceptions */
div.calendar-calendar td.mini:before, div.calendar-calendar td.empty:before {content:""; padding:0; border:none;}


/*
MINI CALENDAR
*/

div.calendar-calendar td.mini { height:34px; }
div.calendar-calendar td.mini div.mini-day-on, div.calendar-calendar td.mini div.mini-day-off { line-height: 34px; text-align:center; }
div.calendar-calendar td.mini div.mini-day-on a {font-weight:bold; text-decoration:none; background: url(bg.png); padding: 3px 4px; }
div.calendar-calendar td.mini div.mini-day-on a:hover { text-decoration: underline; }
div.calendar-calendar td.mini div.mini-day-off a { text-decoration:none; color:grey; }

td.mini.Mar-1, td.mini.Apr-8, td.mini.Apr-27, td.mini.May-16, td.mini.Jun-4, td.mini.Jun-23,
td.mini.Jul-12, td.mini.Jul-31, td.mini.Aug-19, td.mini.Sep-7, td.mini.Sep-26, td.mini.Oct-15,
td.mini.Nov-3, td.mini.Nov-22, td.mini.Dec-11, td.mini.Dec-30, td.mini.Jan-18, td.mini.Feb-6, td.mini.Mar-20 {
  background:url(sm-feast.png) bottom right no-repeat;
}
td.mini.Mar-21, td.mini.Apr-21, td.mini.Apr-29, td.mini.May-2, td.mini.May-23, td.mini.May-29, td.mini.Jul-9, td.mini.Oct-20, td.mini.Nov-12 {
  background: url(sm-holyday.png) center center no-repeat;
}
td.mini.Nov-26, td.mini.Nov-28 {
  background:url(sm-holyday-working.png) center center no-repeat;
}
td.mini.sun.Jan-15, td.mini.sun.Jan-16, td.mini.sun.Jan-17, td.mini.sun.Jan-18,
td.mini.sun.Jan-19, td.mini.sun.Jan-20, td.mini.sun.Jan-21,
td.mini.sun.Jun-8, td.mini.sun.Jun-9, td.mini.sun.Jun-10, td.mini.sun.Jun-11,
td.mini.sun.Jun-12, td.mini.sun.Jun-13, td.mini.sun.Jun-14
{
  background:url(sm-holyday-working.png) center center no-repeat;
}

