/* $Id$ */

ul.core-activities-block .core-activity-nodecount {
  display:block;
  margin:0 10px;
  font-size:small;
  font-weight:normal;
}

.enlist-block-big-list .inner ul.core-activities-block .core-activity-nodecount {
  display:block;
  margin-top:-10px;
}