.location div.form-item label {
  float:none;
}

.red {
  color:red;
}

fieldset.location .form-item { margin:0; padding: 0; }
div.vertical-tabs .vertical-tabs-panes fieldset fieldset legend { display:block; }
div.vertical-tabs .vertical-tabs-panes fieldset fieldset { padding-top:2.5em; }
