/* $Id$ */

html.js fieldset.collapsed {
  border-right:none;
  border-left:none;
  border-bottom:none;
  padding-bottom:0;
  padding-top:0;
}

fieldset .fieldset-legend {
  position:static !important;
  margin-left:14px;
}